* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3ee;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.thank-you {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.Bukti-Pemesanan {
    text-align: center;
    margin-bottom: 20px;
}

.order-summary {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-summary h3 {
    border-bottom: 2px solid #6a6a6a;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.summary-table {
    width: 100%;
    margin-bottom: 20px;
}

.summary-table img {
    width: 50px;
    height: auto;
}

.summary-table th, .summary-table td {
    text-align: left;
    padding: 10px;
}

.summary-table th {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.summary-table td {
    vertical-align: middle;
}

.summary-table .total, .summary-table .tax, .summary-table .subtotal {
    font-weight: bold;
}

.billing-info {
    
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.billing-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 2px solid #010101; /* Garis di bawah judul */
    padding-bottom: 10px;
}

.billing-info p {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #040404;
}

.track-button {
    display: block;
    width: 100%;
    background-color: #ff6f61;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.track-button:hover {
    background-color: #ff4f41;
}

.additional-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    list-style-type: disc;
    margin-top: 30px; 
    font-size: 16px; 
    line-height: 1.6;
    text-align: left;
}

.additional-info p ul {
    list-style-type: disc;
    padding-left: 0;
    margin: 0;
}

.additional-info li {
    margin-bottom: 0px; 
    padding-bottom: 10px;
}

.additional-info li:last-child {
    border-bottom: none; 
}

.additional-info a {
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
}

.additional-info a:hover {
    text-decoration: underline; 
}

